.overlay-container {
  position: relative;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('./components/media/images/patrick-tomasso-5hvn-2WW6rY-unsplash.jpg');
  background-size: cover;
  filter: blur(3px);
  z-index: -1;
}

.app {
  position: relative;
}

.app::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-image: url('./components/media/images/patrick-tomasso-5hvn-2WW6rY-unsplash.jpg');
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar a:hover {
  color: lightskyblue;
}

.navbar .active {
  color: lightskyblue;
}





